p= title
p= method
div
  form(action='/admin/employees_method='+method, method='post')
    div
      input(type='text', placeholder='name', name='name', value=employee.name)
    div
      input(type='text', placeholder='position', name='position', value=employee.position)
    div
      input(type='text', placeholder='bio', name='bio', value=employee.bio)
    div
      input(type='submit', value='Submit')
