p= title
p= method
div
  form(action='/admin/artists?_method='+method, method='post')
    div
      input(type='text', placeholder='name', name='name', value=artist.name)
    div
      input(type='text', placeholder='logo', name='logo', value=artist.logo)
    div
      input(type='text', placeholder='description', name='description', value=artist.description)
    div
      input(type='text', placeholder='soundcloud', name='soundcloud', value=artist.soundcloud)
    div
      input(type='text', placeholder='facebook', name='facebook', value=artist.facebook)
    div
      input(type='text', placeholder='twitter', name='twitter', value=artist.twitter)
    div
      input(type='text', placeholder='instagram', name='instagram', value=artist.instagram)
    div
      input(type='text', placeholder='youtube', name='youtube', value=artist.youtube)
    div
      input(type='text', placeholder='website', name='website', value=artist.website) 
    div
      input(type='submit', value='Submit')